$background-color: #faf9f7;
$border-color: #d3d3d3;
$text-color: #0f1f1f;
$text-color-second: #808080;
$fix-button-color: #fdfdfd;
$primary-color: #58b666;
$primary-border-color: #7ab683;
$gray-color: #bebebe;
$gray-border-color: #bababa;